# Functions

In [1]:
def test(a,b):
    return a+b

In [3]:
test(4,6)

10

In [5]:
test("sudh", "kumar")

'sudhkumar'

In [6]:
test(a=9,b=6)

15

In [7]:
test(b=45, a=5)

50

In [ ]:
print()  #use shift + tab key for description

In [10]:
def test(a,b):
    '''this is my function for addition'''
    """this is my function for addition"""
    return a+b

In [11]:
test(4,6)

10

In [16]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [17]:
test1(1,2,3,4,5,6)

TypeError: test1() takes 5 positional arguments but 6 were given

In [18]:
def test(*a):
    return a

In [19]:
test(34,56)

(34, 56)

In [20]:
test(2,3,4,4)

(2, 3, 4, 4)

In [21]:
test(4,5,6,6,6,[3,4,5,5,5,6])

(4, 5, 6, 6, 6, [3, 4, 5, 5, 5, 6])

In [22]:
def test4(*args):
    return args

In [23]:
test4(34,56,76,7)

(34, 56, 76, 7)

In [24]:
def test5(*a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [26]:
test5(2,3,4,45,5,[345,56,5,6])

[2, 3, 4, 45, 5, [345, 56, 5, 6]]

In [27]:
test5(3,4,5,56)

[3, 4, 5, 56]

In [28]:
def test6(a,b,c,d,*m):
    return a,b,c,d,m

In [29]:
test6(3,4,5,5,6,6,7,7,8,8)

(3, 4, 5, 5, (6, 6, 7, 7, 8, 8))

In [30]:
def test7(*m,a,b,c,d,e):
    return m,a,b,c,d,e

In [32]:
test7(4,5,65,6,6,7,7,56,67,34,54,67,78)

TypeError: test7() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

In [33]:
test7(4,5,65,6,6,7,7,56,a=67,b=34,c=54,d=67,e=78)

((4, 5, 65, 6, 6, 7, 7, 56), 67, 34, 54, 67, 78)

In [40]:
def test8(**sudh):
    return sudh

In [41]:
test8(4,5,6,6)

TypeError: test8() takes 0 positional arguments but 4 were given

In [42]:
test8(b=4,c=5,d=6,e=6)

{'b': 4, 'c': 5, 'd': 6, 'e': 6}

In [48]:
d = {'b':4, 'c':5,'d':6, 'e': 6}

In [49]:
test8(d)

TypeError: test8() takes 0 positional arguments but 1 was given

In [50]:
def test9(*m, **s):
    return m,s

In [52]:
test9(345,45,56,5,56,b=4,c=6,d=7,g=9)

((345, 45, 56, 5, 56), {'b': 4, 'c': 6, 'd': 7, 'g': 9})

In [58]:
def test10(*m):
    n=0
    for i in m:
        if type(i)==int:
            n = n+i
    return n

In [59]:
test10(2,3,4,5,5,6,6)

31

In [60]:
test10(2,3,4)

9

In [65]:
def test1(*m):
    n=1
    for i in m:
        if type(i)==int:
            n = n*i
    return n

In [66]:
test1(4,5,6,6,7,87,8)

3507840

# LAMDA Functions

# wat is LAMDA function or anonynomus function

#anonymous function or lambda function which we use without any name given

In [68]:
lambda a,b : a+b

In [69]:
n = lambda a,b : a+b

In [70]:
n(4,5)

9

In [75]:
n(5,6)

11

a function without a name

# Normal function eg:

In [71]:
def test5(a,b):
    return a+b

In [72]:
test5(4,5)

9

# =====Pass a multi parameter we use single steric -*

In [76]:
b = lambda *sudh : sudh

In [77]:
b(45,5,4,5,5,6,677)

(45, 5, 4, 5, 5, 6, 677)

Question:

In [78]:
t = (3,4,4,5,5,6,67,7,7)

convert tuple into list we have other process also

In [79]:
t=(3,4,4,5,5,6,67,7,7)
l = []
for i in t:
    l.append(i)

In [80]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

# Comprehension operations

In [82]:
#list comprehension operation

In [81]:
[i for i in t]

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [84]:
s="sudh"

In [85]:
[i for i in s]

['s', 'u', 'd', 'h']

# Question: generate square of all the no start form 1 to 10

In [86]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

if people dont know or like list comprehension we have second option

In [87]:
l = []
for i in range(10):
    l.append(i*i)

In [88]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [89]:
l = lambda *x : [i for i in x]

In [90]:
l(4,45,5,6,7,8,9)

[4, 45, 5, 6, 7, 8, 9]

** means square

In [93]:
l = lambda *x : [i**2 for i in x]

In [94]:
l(4,45,5,6,7,8,9)

[16, 2025, 25, 36, 49, 64, 81]

In [20]:
test14(a = 7, b = "sudh", c = 345, d ="sudh", l = [2,3,4,45,"sudh"])

2

# Question: write a function which give output as 3

In [19]:
def test14(**kwargs):
    count =0
    for v in kwargs.values():
        if type(v)== str or type(v)==list:
            count +=1
    return count

In [13]:
test14(a = 7, b = "sudh", c = 345, d ="sudh", l = [2,3,4,45,"sudh"])

3

In [14]:
def test14(**kwargs):
    count =0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v)== str or type(v)==list:
            count +=1
    return count

In [15]:
test14(a = 7, b = "sudh", c = 345, d ="sudh", l = [2,3,4,45,"sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

# Question: return list of all the data

In [10]:
def test15(**kwargs):
    return list(kwargs.values())

In [11]:
test15(a = 7, b = "sudh", c = 345, d ="sudh", l = [2,3,4,45,"sudh"])

[7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']]

# Assignment4

In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file