In [1]:
l = [1,2,3,4,"sudh", "kumar", 45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l :
    print(l)

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]
[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [4]:
for i in l :

IndentationError: expected an indented block (3640463963.py, line 1)

In [5]:
for i in l :
    pass

In [6]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [7]:
for i in l:
    print(i)
else :
    print("if for loop is going to complete itselelf it will execute else")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itselelf it will execute else

In [8]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [11]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [12]:
s = "sudhanshu"
for i in s :
    if i == 'n' :
        break
    print(i) 
else :
    print("print string ", s)

s
u
d
h
a

In [13]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i) 
else :
    print("print string ", s)

s
u
d
h
a
n
s
h
u
print string  sudhanshu

In [15]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [16]:
b = {4,5,6,7,7,7,7,7,7,7,7,7,8,"sudh"}

In [17]:
type(b)

set

In [18]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [19]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [21]:
d = {'key1' : "sudh", 'contact' : "sudhanshu@ineuron.ai", "position": "xyz"}

In [22]:
for i in d :
    print(i)

key1
contact
position

In [23]:
d['key1']

'sudh'

In [27]:
for i in d :
    print(i,": " ,d[i])

key1 :  sudh
contact :  sudhanshu@ineuron.ai
position :  xyz

In [28]:
for i in d :
    print( d[i])

sudh
sudhanshu@ineuron.ai
xyz

Range function

In [29]:
range(9)

range(0, 9)

In [30]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
for i in range(9) :
    print(i)

0
1
2
3
4
5
6
7
8

In [32]:
range(0,9)

range(0, 9)

In [33]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
list(range(0,9, 2))

[0, 2, 4, 6, 8]

In [35]:
list(range(0,9, -1))

[]

# Pattern matching question

In [36]:
n = 4
for i in range(4) :
    for j in range(0, i +1) :
        print("sudh" , end =" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [6]:
n = 3
for i in range(n) :
    for j in range(i, n-1) :
        print(" " * len("sudh"), end =" ")
    for j in range(i+1) :
        print("sudh" , end =" ")
    for j in range(i) :
        print("sudh" , end =" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [10]:
n = 4
for i in range(n) :
    for j in range(i, n-1) :
        print("  " , end ="")
    for j in range(i+1) :
        print("sudh" , end =" ")
    print()

      sudh
    sudh sudh
  sudh sudh sudh
sudh sudh sudh sudh

In [47]:
list(range(0))

[]

In [49]:
t = (3, 23, 45, 67, 2, 4, 5,6)

In [52]:
len(t)

8

In [53]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

# Q print tuple indexes as well as indexes

In [51]:
for i in range(len(t)) :
    print(i,": " ,t[i])

0 :  3
1 :  23
2 :  45
3 :  67
4 :  2
5 :  4
6 :  5
7 :  6

In [15]:
s = "ineuron"

In [59]:
for i in range(len(s)) :
    print(i,": " ,s[i])

0 :  i
1 :  n
2 :  e
3 :  u
4 :  r
5 :  o
6 :  n

# Print element and index in reverse order

In [60]:
for i in reversed(range(len(s))) :
    print(i,": " ,s[i])

6 :  n
5 :  o
4 :  r
3 :  u
2 :  e
1 :  n
0 :  i

In [61]:
s

'ineuron'

In [62]:
range(len(s))

range(0, 7)

In [63]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [64]:
list(range(len(s), 0, -1))

[7, 6, 5, 4, 3, 2, 1]

In [65]:
list(range(len(s), -1, -1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [66]:
list(range(len(s)-1, -1, -1))

[6, 5, 4, 3, 2, 1, 0]

In [69]:
for i in range(len(s)-1, -1, -1) :
    print(i,": " ,s[i])

6 :  n
5 :  o
4 :  r
3 :  u
2 :  e
1 :  n
0 :  i

In [70]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

# Q try to print key and value all the elements in dictionary

In [11]:
d.items()

NameError: name 'd' is not defined

In [72]:
for i in d.items() :
    print(i)

('key1', 'sudh')
('contact', 'sudhanshu@ineuron.ai')
('position', 'xyz')

In [73]:
for i in d.items() :
    print(i, type(i))

('key1', 'sudh') <class 'tuple'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [74]:
for i in d.items() :
    print(i, type(i), type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [84]:
l= ["sudh" , "kumar", 32345445, "sudhandhu@ineuron.ai",345,34345353]

# Q extract all the numeric values of this list or create a new list where all the numbers are there

In [85]:
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [89]:
l1

[32345445, 345, 34345353]

In [91]:
d = {1 : 333435 , "name" : "sudh", "emsil_id" : "sudhsnshu@ineuron,ai", 234 : "fsfdddfgf", 43:  "ygfyjg"}

# Q expecting a key value pair where key must be a numeric one

In [92]:

for i in d :
    print(i)

1
name
emsil_id
234
43

In [95]:
for i in d :
     if type(i) == int :
        print(i, ":", d[i])

1 : 333435
234 : fsfdddfgf
43 : ygfyjg

In [96]:
s = "aaaabbccd"

# Q print occurence of every character inside ethis string
output:
    a : 4
    b : 2
    c : 2
    d :1

In [102]:
set(s)

{'a', 'b', 'c', 'd'}

In [103]:
for i in set(s):
    print(i, ":" , s.count(i))

d : 1
c : 2
a : 4
b : 2

In [104]:
s.count('a')

4

# Q individual integer inside this i

In [105]:
i = 345346546466435
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [106]:
str(i)

'345346546466435'

In [107]:
i = 345346546466435
for j in str(i):
    print(j)

3
4
5
3
4
6
5
4
6
4
6
6
4
3
5

In [108]:
i = 345346546466435
for j in str(i):
    print(j, type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [109]:
str(i)

'345346546466435'

In [110]:
t = ("sudh" , "kumar", [1,2,3,4,5], (3,4,5,6), {"key": "sudh", "key2" : "kumar"})

# Q extract 3 in 3

In [113]:
for i in t:
    if type(i) == list or type(i) == tuple :
        for j in i:
            if j == 3 :
                print(j)

3
3

# extract 3 in key of  dict also

In [17]:
t = ("sudh" , "kumar", [1,2,3,4,5], (3,4,5,6), {3: "sudh", "key2" : "kumar"})

In [21]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict :
        for j in i:
            if j == 3 :
                print(j)

3
3
3

In [22]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict :
        for j in i:
            if j == 3 :
                print(j)
    if type(i) == dict:
        print(i)

3
3
3
{3: 3, 'key2': 'kumar'}

# extract 3 in key and value of  dict also

In [19]:
t = ("sudh" , "kumar", [1,2,3,4,5], (3,4,5,6), {3: 3, "key2" : "kumar"})

In [23]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict :
        for j in i:
            if j == 3 :
                print(j)
    if type(i) == dict:
        print(i)

3
3
3
{3: 3, 'key2': 'kumar'}

In [20]:
for i in t:
    if type(i) == list or type(i) == tuple :
        for j in i:
            if j == 3 :
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v ==3 :
                print(k)
                print(v)

3
3
3
3

In [125]:
d = {4:5, "key1":"sudh", "key2":"kumar"}

In [127]:
for i,j in d.items():
    print(i)

4
key1
key2

In [128]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [129]:
a=10
b=20
c=30

In [130]:
a,b,c = 10,20,30