Topic  Control-Flow Statements

1. If statements

In [ ]:
a = 10
if a == 10

syntatical error because we need to place everthing in a manner in python like in ex: print statement is not in right manner

In [ ]:
a = 10
if a == 10 :
print("this is my first condition")

In [ ]:
a = 10
if a == 10 :
    print("this is my first condition")

In [ ]:
a = 10
if a == 11 :
    print("this is my first condition")

In [ ]:
a = 10
if a > 5 :

In [ ]:
 a = 10
if a > 5 : 
    pass

In [ ]:
 a = 10
if a > 8 : 
    print("print this if condition is true")

In [ ]:
a = 10
if a < 8 : 
    print("print this if condition is true")

In [ ]:
a = 10
if a != 11:
    print("my condition is false")
else :
    print("print this")

In [ ]:
a = 10
if a == 11:
    print("my condition is false")
else :
    print("print this")

for multiple conditions --elif

In [ ]:
a = 10
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==11:
        print("here we are trying to compare 10 with 11")
else :
        print("if all the blocks will fail then do this")

In [ ]:
a = 10
if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a ==10:
        print("here we are trying to compare 10 with 11")
else :
        print("if all the blocks will fail then do this")

In [ ]:
price = 500

if price  > 500 :
    print("may be i wont be able to nuy a jacket")
elif price < 500 :
    print("i will be able to nuy a jacket")

In [ ]:
price = 500

if price  > 500 :
    print("may be i wont be able to nuy a jacket")
elif price <= 500 :
    print("i will be able to nuy a jacket")

In [ ]:
price = 500

if price  > 500 :
    print("may be i wont be able to nuy a jacket")
elif price < 500 :
    print("i will be able to nuy a jacket")
else price == 500 ;
    print("idont know")

In [ ]:
price = 500

if price  > 500 :
    print("may be i wont be able to nuy a jacket")
elif price < 500 :
    print("i will be able to nuy a jacket")
elif price == 500 :
    print("for sure i will be able to nuy a jacket")
else :
    print("idont know")

In [ ]:
price >500

In [ ]:
price < 500

In [ ]:
price == 500

In [ ]:
l = [1,2,3,4,5,6]
2 in l

In [ ]:
if 2 in l :
    print("try to perform a task")
else :
     print("do not perform a task")

In [ ]:
if 60 in l :
    print("try to perform a task")
else :
     print("do not perform a task")

In [ ]:
60 in l

In [ ]:
l

In [ ]:
if 1 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do subtraction")    
elif 3 in l :
    print("try to do multition")

In [ ]:
if 10 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do subtraction")    
elif 3 in l :
    print("try to do multition")

In [ ]:
if 10 in l :
    print("try to do a addition")
elif 2 in l :
    print("try to do subtraction")    
elif 3 in l :
    print("try to do multition")
if 4 in l :
    print("this is new statement")

In [1]:
a = 400

In [4]:
b = input()

fas

In [5]:
b

'fas'

In [1]:
b = int(input())

123

In [2]:
b

123

In [ ]:
type(b)

In [3]:
price = int(input())
if price <500 :
    print("i will be also to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
    else :
        print("i will be able to buy anything")
        
else :
        print("i wont be able to buy anything with this price tag")

600
i wont be able to buy anything with this price tag

In [6]:
price = int(input())
if price <500 :
    print("i will be also to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
        
    else :
            print("i wont able to buy something")
        
else :
        print("i wont be able to buy anything with this price")

300
i will be also to buy something
i will be able to buy a jacket

In [9]:
price = int(input())
if price <500 :
    print("i will be also to buy something")
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
        
        if price < 200 :
            print("i would like to do something")
        else :
            print("i wont be able to buy anything")
else :
        print("i will be able to buy anything with this price tag")
        

        if price >500 :
                print("lets try something else")

600
i will be able to buy anything with this price tag
lets try something else

In [80]:
marks = int(input())
if marks < 600 :
    print("GRE")
    if marks < 500 :
        print("TOFEL")
    if price < 400 :
        print("Try something else")
    else :
            print("tou got TOFEL")
            
else:
            
            print("You got GRE")

300
GRE
TOFEL
tou got TOFEL

In [72]:
marks = int(input())

if marks < 600  :
    print("GRE")   
    if marks < 500  :
        print("TOFEL")    
        if marks < 400  :
            print("Try something else") 
    else :   
        print("Nothing GO FOR TOFEL") 
else : 
    print("Go for GRE")

500
GRE
Nothing GO FOR TOFEL

In [74]:
val = float(input("enter a floating point number"))
if val >= 0:
    if val ==0:
        print("entered value is zero")
    else :
        print("entered number is posituve number")
else :
        print("entered number is negative number")

enter a floating point number324
entered number is posituve number

***************Multiple conditions**********

In [1]:
a = 10
if a <=10 :
    print("try to do something")

try to do something

In [2]:
a = 10
if a < 10  or a ==10 :
    print("try to do something")

try to do something

In [3]:
a = 10
if a < 10  or a > 10 :
    print("try to do something")

In [4]:
a = 10
if a < 10  and a > 10 :
    print("try to do something")

In [5]:
a = "sudh"
if a == "sudh" and a == "Sudh" :
     print("this is sudh")

In [6]:
a = "sudh"
if a == "sudh" or a == "Sudh" :
     print("this is sudh")

this is sudh

In [7]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13 :
    print("lets do something")

In [1]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13 :
    print("lets do something")

lets do something

In [2]:
d ={'key1' : "value", "key2" : "sudh", "key3" : "ineuron"}

In [3]:
 d['key1']

'value'

In [4]:
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "ineuron" :
    print("all the values are verified")
    print(d.values())

all the values are verified
dict_values(['value', 'sudh', 'ineuron'])

In [5]:
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "ineuron" :
    print("all the values are verified")
    print(d.values())
else :
    print("all the values are not verified")

all the values are verified
dict_values(['value', 'sudh', 'ineuron'])

In [6]:
d['key1']

'value'

In [7]:
l = [1,2,3,4,5,"sudh", 234.45]

In [8]:
l[0]

1

In [9]:
l[1]

2

In [10]:
l[2:5]

[3, 4, 5]

In [11]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [12]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [13]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [14]:
for i in l:
    if type(i) == int :
        
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1

In [ ]:
for i in l:
    if type(i) == int or type(i) == float :
        
        print(i+1)
    elif type(i) == str:
        print(i + str(1))